[submodule "modules/pagination"]
	path = modules/pagination
	url = https://github.com/ahutchings/pagination.git
[submodule "modules/notices"]
	path = modules/notices
	url = https://github.com/synapsestudios/kohana-notices.git
[submodule "modules/sitemap"]
	path = modules/sitemap
	url = https://github.com/ahutchings/kohana-sitemap.git
[submodule "modules/tasks-cache"]
	path = modules/tasks-cache
	url = https://github.com/samwilson/tasks-cache.git
