[submodule "system"]
	path = system
	url = git://github.com/kohana/core.git
[submodule "modules/orm"]
	path = modules/orm
	url = git://github.com/kohana/orm.git
[submodule "modules/database"]
	path = modules/database
	url = git://github.com/kohana/database.git
[submodule "modules/pagination"]
	path = modules/pagination
	url = git://github.com/kohana/pagination.git
[submodule "modules/auth"]
	path = modules/auth
	url = git://github.com/kohana/auth.git
[submodule "modules/notices"]
	path = modules/notices
	url = git://github.com/synapsestudios/kohana-notices.git
[submodule "modules/yform"]
	path = modules/yform
	url = git://github.com/Zeelot/kohana-yform.git
[submodule "modules/github"]
	path = modules/github
	url = git://github.com/ahutchings/kohana-github.git
[submodule "modules/sitemap"]
	path = modules/sitemap
	url = git://github.com/ThePixelDeveloper/kohana-sitemap.git
[submodule "modules/cache"]
	path = modules/cache
	url = git://github.com/kohana/cache.git
[submodule "modules/cron-controller"]
	path = modules/cron-controller
	url = git://github.com/ahutchings/kohana-cron-controller.git
