<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page_title}}</title>
  {{#meta_description}}
    <meta name="description" content="{{{meta_description}}}">
  {{/meta_description}}

    <link rel="stylesheet" href="/css/screen.css" media="screen, projection">
    <link rel="stylesheet" href="/css/style.css" media="screen, projection">
    <link rel="alternate" href="http://feeds.feedburner.com/KohanaModules" type="application/rss+xml" title="kohana-modules.com - Recently Added Modules">

    {{#include_google_analytics}}
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3588987-13']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_trackPageLoadTime']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    {{/include_google_analytics}}

    {{#prevent_page_indexing}}
    <meta name="robots" content="noindex, follow">
    {{/prevent_page_indexing}}
  </head>

  <body>

      <div id="container">

          <div id="header" class="clearfix">
              <div class="container">
                  <div class="span-17">
                      <h1><a href="/">{{site_name}}</a></h1>
                      <p>{{{tagline}}}</p>
                  </div>

                  <div id="search" class="span-7 last">
                      <form action="/search" method="get" accept-charset="utf-8">
                          <div class="yform-item yform-text" id="query-container">
                             <input type="text" id="query" name="query" placeholder="Search modules..." value="{{query}}" required>
                          </div>
                      </form>
                  </div>
              </div>
          </div><!-- end #header -->

        <div id="content" class="container">

          <div id="main" class="span-16 colborder">
              {{>content}}
          </div><!-- end #main -->

          <div id="sidebar" class="span-7 last">

              <div>
                  <h3>Keep Updated</h3>

                  <ul id="subscribe-links">
                      <li class="feed">
                          <a href="http://feeds.feedburner.com/KohanaModules" rel="alternate"
                              type="application/rss+xml">Subscribe via RSS</a>
                      </li>

                      <li class="twitter">
                          <a href="http://twitter.com/KohanaModules">Follow @KohanaModules on Twitter</a>
                      </li>
                  </ul>
              </div>

              <div id="recently-added">
                  <h3>Recently Added</h3>

                  <ol>
                  {{#recently_added}}
                    <li>
                        <h4>
                            <span class="username">
                              <a href="/modules/{{username}}">{{username}}</a>
                            </span>
                            /
                            <span class="name">
                              <a href="/modules/{{username}}/{{name}}">{{name}}</a>
                            </span>
                        </h4>
                        <p class="description">{{description}}</p>
                        <p class="added">
                            Added
                            <abbr class="timeago" title="{{created_at}}">
                                {{created_at}}
                            </abbr>
                        </p>
                    </li>
                  {{/recently_added}}
                  </ol>
              </div>

              <div id="prolific-authors">
                  <h3>Most Prolific Authors</h3>

                  <ol>
                  {{#prolific_authors}}
                    <li>
                      <a href="/modules/{{username}}">{{username}}</a>
                      <span class="count">{{module_count}} modules</span>
                    </li>
                  {{/prolific_authors}}
                  </ol>
              </div>

          </div>

        </div> <!-- end #content -->

        <div id="footer" class="clearfix">
          <div class="container">
            <ul id="primary-nav" class="span-14">
                <li><a href="/pages/about">About</a></li>
                <li><a href="https://github.com/ahutchings/kohana-modules.com">Code</a></li>
                <li><a href="https://twitter.com/KohanaModules">Status</a></li>
                <li><a href="/pages/add-a-module">Add a Module</a></li>
                <li><a href="/pages/feedback">Feedback</a></li>
            </ul>

            <p class="span-10 last" id="footnote">
                Powered by <a href="http://kohanaframework.org">Kohana</a> v{{kohana_version}}
            </p>
          </div>
        </div><!-- end #footer -->

    </div><!-- end #container -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/components/jquery/jquery.min.js">\x3C/script>')</script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.1.0/jquery.timeago.min.js"></script>
    <script>window.jQuery.fn.timeago || document.write('<script src="/components/jquery-timeago/jquery.timeago.js">\x3C/script>')</script>

    <script>
      var disqus_shortname = 'kohana-modules';
      (function () {
        var s = document.createElement('script'); s.async = true;
        s.src = '//kohana-modules.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());

      $(function() {
          $("abbr.timeago").timeago();
      });
    </script>

  </body>
</html>
