<h2>About</h2>

<p>kohana-modules.com was created to help <a href="http://kohanaframework.org">Kohana</a>
developers find and discuss available modules. It is currently indexing Kohana
v3.x modules on <a href="https://github.com">GitHub</a>.</p>

<h3>Contributing</h3>

<p>Those with a desire to help out are welcome to contribute by hacking on the
<a href="https://github.com/ahutchings/kohana-modules.com">site</a>, or by
<a href="/pages/add-a-module">adding modules</a> to the index.</p>

<h3>Colophon</h3>

<p>kohana-modules.com was built using <a href="http://kohanaframework.org">Kohana</a>
v{{kohana_version}}, the <a href="http://bluetrip.org">BlueTrip CSS
Framework</a>, and the following modules.</p>

<ul>
{{# modules}}
	<li>
		<a href="{{url}}">{{name}}</a> - {{description}}
	</li>
{{/modules}}
</ul>
