<h2>Add a Module</h2>

<ol>
    <li>Fork the <a href="https://github.com/ahutchings/kohana-modules">module repository</a></li>
    <li>Add the module to the correct branch(es)</li>
    <li>Send a pull request</li>
</ol>

<p>The repository must contain a single module at the top level. A user must be
able to clone the repository into a Kohana application's modules directory, and
have it work directly without moving files. Once the changes are merged, the
new module will be automatically added to the website.</p>

<p>Note that the submodule does not need to be updated after it's been added to
the correct branch of the module repository. All metadata (tags, branches, stars,
watchers, forks, etc.) is re-indexed daily, regardless of the specific commit
pointed to by the submodule.</p>
