/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
body {
	margin-top:0;
}

table, td, th {
	border:0;
}

th {
	background:#E5ECF3;
	color:#578CCA;
}

th, td {
	border-bottom:1px solid #EEE;
}

/**************************************/
/*              HEADER                */
/**************************************/
#header {
	background:#000;
	padding:12px 0 0;
	margin-bottom:2em;
}

h1 {
	font-family:Rockwell,Arial;
	font-size:22px;
	letter-spacing:-1.8px;
	line-height:1em;
	float:left;
	margin:0 18px 0 5px;
}

h1 a:link, h1 a:visited {
	color:#FAFAFA;
	text-decoration:none;
}

/**************************************/
/*             NAVIGATION             */
/**************************************/
#navigation {
	float:right;
	margin-left:0;
	margin-bottom:0;
	margin-right:5px;
}

#navigation li {
	display:inline;
	float:left;
}

#navigation li:first-child {
	margin-left:0;
}

#navigation a:link, #navigation a:visited {
	text-decoration:none;
}

#navigation a {
	color:#FFF;
	padding:6px 8px;
	float:left;
}

#navigation li.active a {
	color:#333;
	background:-moz-linear-gradient(top, #EAEAEA, #FFF);
}

#user-navigation {
	padding:4px 7px 3px 10px;
}

#user-navigation a:link, #user-navigation a:visited {
	color:#999;
	margin-right:7px;
}

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
.widget > * {
	padding:0 15px;
}

.widget h3 {
	text-transform:uppercase;
	background:#EEE;
	padding:6px 0 2px 15px;
}

.widget table {
	width:440px;
	margin-left:15px;
}

.widget table, .widget dl {
	font-size:110%;
}

.widget table td:first-child {
	font-weight:700;
}

/**************************************/
/*               FOOTER               */
/**************************************/

