/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/
table, td, th {
	border:0;
}

th {
	background:#E5ECF3;
	color:#578CCA;
}

th, td {
	border-bottom:1px solid #EEE;
}

/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/
.widget > * {
	padding:0 15px;
}

.widget h3 {
	text-transform:uppercase;
	background:#EEE;
	padding:6px 0 2px 15px;
}

.widget table {
	width:440px;
	margin-left:15px;
}

.widget table, .widget dl {
	font-size:110%;
}

.widget table td:first-child {
	font-weight:700;
}

/**************************************/
/*               FOOTER               */
/**************************************/

