<table class="span-24">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
    {{#jobs}}
        <tr>
            <td>{{name}}</td>
        </tr>
    {{/jobs}}
    </tbody>
</table>
