<div class="developer-info">
    <h2>{{username}}</h2>

    <a href="https://github.com/{{username}}">GitHub profile</a>
</div>

<h3 class="module-heading"><span>{{count}}</span> {{module_count_noun}}</h3>

{{> module/index}}
